* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list {
    font-family: Helvetica , Courier, monospace;
    font-size: 18px;
    color: #708BA6;
    margin: 40px 50px;


}


.title {
    font-size: 54px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#DEF3FF;
    padding: 15px;
    margin: 20px;
    text-transform: uppercase;

    background-color: #96BBE0;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 30px ;
    margin-top: 45px;
    text-transform: uppercase;
    color: #708BA6;
    


}

h3 {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 25px ;
    margin-bottom: -2px;
    color: #d1b089;
    padding: 3px;
    display:inline-block;
    text-transform: uppercase;

}

p {

    margin: 5px 400px 5px 30px;

}

ul li {
    margin: 5px 30px;
    list-style-type: square;
}

ol li {
    margin: 5px 30px;
}

h2{
    margin-bottom: 2px;
    text-transform: u;
}

img {
    border-radius: 100px;
    margin: 20px;
    border:#708BA6 3px solid;
}

.full-page img {
    float: right;
}

button {
    margin: 20px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: #7b98b4;
    border-color:#96BBE0;
}
